/* general */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  background-image: url('./assets/img/your_verse_hero.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  height: 65vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  width: 100%;
}

.text-over {
  margin-top: 5vw;
}

.text-over p {
  color: #ffffffbd;
  text-decoration: none;
  font-weight: 100;
  text-align: center;
}

.text-over p:nth-child(1) {
  font-size: 3.9em;
}

.text-over p:nth-child(2) {
  font-size: 2em;
  line-height: 1.5em;
}

.text-over p:nth-child(3) {
  font-size: 2em;
}

.text-over p:nth-child(4) {
  font-size: 1.7em;
  line-height: 2em;
}

.text-over a {
  cursor: pointer;
  color: #ffffffbd;
  text-decoration: none;
}

.text-over a:hover {
  text-decoration: underline;
}

.text-over a:visited {
  color: #ffffffbd;
}

#playButton {
  height: 35px;
  position: absolute;
  padding-top: 10px;
  padding-left: 5px;
}

/* navbar */

nav {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  margin: 10vh auto 0 auto;
  position: static;
  font-size: 12px;
  background: #757575; /* Old browsers */
  
  background:
    -moz-linear-gradient(
    top,
      #757575 0%,
      #565656 40%,
      #4f4f4f 50%,
      #494949 60%,
      #7f7f7f 100%
    ); /* FF3.6-15 */

  background:
    -webkit-linear-gradient(
    top,
      #757575 0%,
      #565656 40%,
      #4f4f4f 50%,
      #494949 60%,
      #7f7f7f 100%
    ); /* Chrome10-25,Safari5.1-6 */

  background:
    linear-gradient(
      to bottom,
      #757575 0%,
      #565656 40%,
      #4f4f4f 50%,
      #494949 60%,
      #7f7f7f 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#757575', endColorstr='#7f7f7f', GradientType=0);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

nav ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}

nav li {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-right: 1.2px solid #0000003d;
}

nav li:hover {
  background-color: rgba(0, 0, 0, 0.466);
}

nav li:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav li:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav li a {
  height: 35px;
  color: #ffffffe6;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-shadow:
    -1px 0 #00000057,
    0 1px #00000057,
    1px 0 #00000057,
    0 -1px #00000057;
}

li a > div {
  background-image: url(./assets/img/Apple-Logo.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 35px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

li > input {
  margin: 0 10px;
  border-top: 1px solid rgb(80, 80, 80);
  border-bottom: 1px solid rgb(144, 144, 144);
  border-left: none;
  border-right: none;
  border-radius: 10px;
  height: 20px;
  background: url('./assets/img/search_icon.png') 10px no-repeat;
  background-size: 12px 12px;
  color: white;
  padding-left: 25px;
}

li > input:focus {
  transition-duration: 0.3s;
  background: url('./assets/img/search_icon2.png') 10px no-repeat, white;
  background-size: 12px 12px;
  color: black;
}

/* footer */
footer {
  display: flex;
  height: 35vh;
  flex-direction: column;
}

/* footer-top */

.footer-top {
  display: flex;
  flex-direction: row;
  height: 25vh;
}

.footer-top div {
  display: flex;
  flex: 1;
  cursor: pointer;
  border: 1.5px solid white;

  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-size: auto;
}

.footer-top div:nth-child(1) {
  background-image: url('./assets//img/promo_iphone5s.jpg');
  border-left: 3px solid white;
}

.footer-top div:nth-child(2) {
  background-image: url('./assets//img/promo_iphone5c.jpg');
}

.footer-top div:nth-child(3) {
  background-image: url('./assets//img/promo_30_years.jpg');
}

.footer-top div:nth-child(4) {
  background-image: url('./assets//img/promo_supplier_responsibility.jpg');
  border-right: 3px solid white;
}

/* footer - bottom */
.footer-bottom {
  display: flex;
  flex-direction: column;
  height: 10vh;
  background: #fff;
  width: 100%;
  color: #6e6e6e;
  font-weight: 300;
  font-size: 11px;
}

.footer-bottom a {
  color: #08c;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.links-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-top-left {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
}

.links-top-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 20px;
}

.links-top-right img {
  height: 10px;
  width: auto;
  margin-left: 5px;
}

.links-bottom {
  padding: 0 20px;
}
